:root {
  --fp-primary: #6e40ff;
  --fp-text-main: #222;
  --fp-text-soft: #77798b;
  --fp-border: #e1e1ef;
}

/* GLOBAL */
.fp-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 60px 80px;

  background-image: url("../assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fp-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

/* LEFT */
.fp-left {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.fp-logo {
  font-weight: 700;
  font-size: 24px;
  color: #5b34ff;
  margin-bottom: 40px;
}

.fp-emoji {
  font-size: 38px;
  margin-bottom: 14px;
}

.fp-title {
  color: #252525;
  font-family: Hahmlet;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */

    @media(max-width : 768px){
    font-size: 30px;
  }
  @media(max-width : 500px){
    font-size: 20px;
  }
}

.fp-subtitle {
  color: rgba(37, 37, 37, 0.5);
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 28.5px */

   @media(max-width : 768px){
    font-size: 15px;
  }
  @media(max-width : 500px){
    font-size: 13px;
  }
}

/* FORM */
.fp-form {
  width: 100%;
  margin-bottom: 20px;
}

.fp-label {
  color: #252525;
  font-family: Poppins;
  font-size: 16.868px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 25.302px */
}

.fp-input {
  display: flex;
  padding: 12.268px 18.401px;
  align-items: center;
  gap: 6.134px;
  align-self: stretch;
  border-radius: 6.134px;
  border: 0.767px solid #eae9fe;
  background: #fff;
  width: 100%;
}

.fp-btn {
  width: 100%;
  padding: 12px;
  border-radius: 999px;
  border: none;
  background: linear-gradient(135deg, #7c4dff, #5e33de);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}

/* BELOW FORM */
.fp-help {
  color: #252525;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.fp-link {
  background: none;
  border: none;
  font-size: inherit;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.fp-footer-note {
  font-size: 11px;
  color: #9a9bb3;
  margin-top: 24px;
  max-width: 360px;
}

.fp-footer-note a {
  text-decoration: underline;
  color: #5e4beb;
}

/* RIGHT SECTION */
.fp-right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
}

.fp-back-btn {
  position: absolute;
  top: -10px;
  right: 0;
  background: #17b94b;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.fp-image-box {
  margin-top: 60px;
  width: 100%;
  height: auto;
  /* border-radius: 28px; */
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);

  @media(max-width : 768px){
    display: none !important;
  }
}

.fp-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fp-bottom-text {
  color: #252525;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  @media(max-width : 768px){
    display: none !important;
  }
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .fp-wrapper {
    grid-template-columns: 1fr;
  }

  .fp-right {
    align-items: flex-start;
  }

  .fp-back-btn {
    top: 10px;
    right: 20px;
  }

  .fp-image-box {
    max-width: 420px;
  }
}

@media (max-width: 640px) {
  .fp-page {
    padding: 24px;
  }

  .fp-image-box {
    height: 360px;
  }
}
.BTN-2 {
  all: unset;
  height: 43px;
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  .rectangle-2 {
    background-color: #775da6;
    border-radius: 8.19px;
    box-shadow: inset -3.07px -3.07px 5.12px #0000004c;
    height: 43px;
    position: absolute;
    right: 2px;
    top: 0;
    width: 100%;
    padding: 1rem 0;
  }
  .vector-2 {
    height: 33px;
    position: absolute;
    left: 0;
    top: 3px;
    width: 10px;
  }
  .line {
    height: 4px;
    position: absolute;
    left: 0;
    top: 4px;
    width: 100%;
  }
  .label {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 14.6px;
    font-weight: 500;
    letter-spacing: 0.29px;
    line-height: 20px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    text-shadow: 0px 1.43px 0px #00000026;
    top: 11px;
    white-space: nowrap;
  }
}
.BTN {
  all: unset;
  height: 43px;
  position: relative;
  right: 0;
  top: 0;
  width: 187px;
  display: block;
  margin-bottom: 1rem;
  .rectangle-2 {
    background-color: #02b346;
    border-radius: 8.19px;
    box-shadow: inset -3.07px -3.07px 5.12px #0000004c;
    height: 43px;
    position: absolute;
    right: 2px;
    top: 0;
    width: 187px;
    padding: 1rem 0;
  }
  .vector-2 {
    height: 33px;
    position: absolute;
    left: 0;
    top: 3px;
    width: 10px;
  }
  .line {
    height: 4px;
    position: absolute;
    left: 0;
    top: 4px;
    width: 100%;
  }
  .label {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 14.6px;
    font-weight: 500;
    letter-spacing: 0.29px;
    line-height: 20px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    text-shadow: 0px 1.43px 0px #00000026;
    top: 11px;
    white-space: nowrap;
    text-decoration: none;
    color: var(--white, #fff);
    text-shadow: 0 1.793px 0 rgba(0, 0, 0, 0.15);
    font-family: Poppins;
    font-size: 18.273px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.104px; /* 137.382% */
    letter-spacing: 0.365px;
  }
}
