.footer-section {
  width: 100%;
  background-image: url("../../assets/images/footer-bg.png");
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/* Wrapper to center everything */
.footer-content {
  width: 85%;
  margin: 0 auto;
  max-width: 1400px;
}

/* LOGO */
.footer-logo {
  font-family: "Hahmlet", serif;
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 30px;
}

/* SOCIAL ICONS */
.footer-socials {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.social-icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

/* LINKS */
.footer-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 16px;
  opacity: 0.85;
  list-style: none;
  margin-bottom: 35px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.3px;
}

/* COPYRIGHT */
.footer-copy {
  font-size: 14px;
  opacity: 0.8;
  color: #fff;
  font-family: Poppins;
  font-size: 15.552px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.328px; /* 150% */
}

/* ---------------- RESPONSIVE ---------------- */

@media (max-width: 768px) {
  .footer-logo {
    font-size: 32px;
  }

  .footer-links {
    flex-direction: column;
    gap: 20px;
  }

  .footer-socials {
    gap: 20px;
  }

  .footer-section {
    padding: 60px 0;
  }
}
