.box {
  height: 100vh;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 2rem 6rem;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
  transition: all 0.3s ease;

  @media(max-width : 1250px){
    padding: 2rem 3rem;
  }

  @media (max-width: 768px) {
    padding: 1rem 1.5rem;
    height: 80px;
    justify-content: space-between;
  }
}
.nav-white {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}
.box .frame {
  align-items: center;
  display: inline-flex;
  position: relative;
  gap: 35px;
  left: 0;
  top: 0;

  @media(max-width : 1250px){
    gap: 20px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
.box .form-selectoption-instance {
  border: 0.71px solid !important;
  border-color: #775da6 !important;
  border-radius: 11.35px !important;
  height: 43px !important;
  left: -40px !important;
  position: relative !important;
  top: 0 !important;
  width: 78px !important;

  @media (max-width: 768px) {
    display: none !important;
  }
}
.box .BTNns {
  all: unset;
  height: 43px;
  position: relative;
  right: 0;
  top: 0;
  width: 137px;
}
.box .BTN-2s {
  all: unset;
  height: 43px;
  right: -40px;
  top: 0;
  width: 137px;
  position: relative;
}

.box .group {
  height: 100%;
  position: relative;
  top: -461px;
  width: 100%;
}

.box .rectangle {
  height: 746px;
  object-fit: cover;
  position: absolute;
  top: 461px;
  width: 100%;
}

.box .vector {
  height: 126px;
  position: absolute;
  left: 0;
  top: 461px;
  width: 417px;
}

.box .img {
  height: 507px;
  position: absolute;
  right: 0;
  top: 461px;
  width: 300px;
}

.box .div {
  color: #775da6;
  font-family: "Goldman", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  top: 512px;
  white-space: nowrap;
}

.box .text-wrapper-2 {
  color: #1f1f1f;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  opacity: 0.8;
  position: relative;
  width: fit-content;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.box .heading {
  color: transparent;
  font-family: "Hahmlet", Helvetica;
  font-size: 50px;
  font-weight: 700;
  left: 50%;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 667px;
  width: 700px;
  transform: translateX(-50%);

  @media (max-width: 1024px) {
    font-size: 40px;
    width: 600px;
    line-height: 50px;
    top: 650px;
  }

  @media (max-width: 768px) {
    font-size: 32px;
    width: 90%;
    line-height: 42px;
    top: 550px;
  }

  @media (max-width: 480px) {
    font-size: 24px;
    width: 95%;
    line-height: 32px;
    top: 480px;
  }
}

.box .span {
  color: #252525;
}

.box .text-wrapper-3 {
  color: #775da6;
}

.box .text {
  color: #252525;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 50%;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 877px;
  width: 594px;
  transform: translateX(-50%);

  @media (max-width: 1024px) {
    font-size: 18px;
    width: 500px;
    top: 850px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
    width: 90%;
    line-height: 28px;
    top: 700px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
    width: 95%;
    line-height: 24px;
    top: 600px;
  }
}



.box .vector-2 {
  height: 33px;
  position: absolute;
  right: 124px;
  top: 3px;
  width: 10px;
}

.box .line {
  height: 4px;
  position: absolute;
  right: 20px;
  top: 4px;
  width: 121px;
}
 .rectangle-2 {
    background-color: #775da6;
    border-radius: 8.19px;
    box-shadow: inset -3.07px -3.07px 5.12px #0000004c;
    height: 43px;
    position: absolute;
    right: 2px;
    top: 0;
    width: 135px;
  }

.box .label {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14.6px;
  font-weight: 500;
  letter-spacing: 0.29px;
  line-height: 20px;
  position: absolute;
  text-shadow: 0px 1.43px 0px #00000026;
  top: 11px;
  white-space: nowrap;
  right: 50%;
  transform: translateX(50%);
}

.box .button {
  all: unset;
  box-sizing: border-box;
  height: 63px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 1003px;
  width: 291px;

  @media (max-width: 1024px) {
    top: 950px;
    width: 250px;
    height: 55px;
  }

  @media (max-width: 768px) {
    top: 800px;
    width: 220px;
    height: 50px;
  }

  @media (max-width: 480px) {
    top: 700px;
    width: 90%;
    height: 45px;
  }
}

.box .rectangle-3 {
  background-color: #fdb73e;
  border-radius: 12.07px;
  box-shadow: inset -4.53px -4.53px 7.55px #0000004c;
  height: 63px;
  position: absolute;
  right: 2px;
  top: 0;
  width: 289px;
}

.box .rectangle-3 {
  @media (max-width: 1024px) {
    height: 55px;
    width: 250px;
  }

  @media (max-width: 768px) {
    height: 50px;
    width: 220px;
  }

  @media (max-width: 480px) {
    height: 45px;
    width: 90%;
  }
}

.box .vector-3 {
  height: 49px;
  position: absolute;
  right: 277px;
  top: 4px;
  width: 16px;
}

.box .vector-3 {
  @media (max-width: 1024px) {
    height: 40px;
    width: 14px;
  }

  @media (max-width: 768px) {
    height: 35px;
    width: 12px;
  }

  @media (max-width: 480px) {
    height: 30px;
    width: 10px;
  }
}

.box .line-2 {
  height: 6px;
  position: absolute;
  right: 21px;
  top: 4px;
  width: 260px;
}

.box .line-2 {
  @media (max-width: 1024px) {
    height: 5px;
    width: 220px;
  }

  @media (max-width: 768px) {
    height: 4px;
    width: 185px;
  }

  @media (max-width: 480px) {
    height: 3px;
    width: 90%;
    right: 5%;
  }
}

.box .label-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 21.4px;
  font-weight: 500;
  letter-spacing: 0.43px;
  line-height: 29.5px;
  position: absolute;
  right: 32px;
  text-shadow: 0px 2.1px 0px #00000026;
  top: 17px;
  width: 228px;
}

.box .label-2 {
  @media (max-width: 1024px) {
    font-size: 18px;
    width: 190px;
    right: 25px;
    top: 14px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
    width: 160px;
    right: 20px;
    top: 12px;
  }

  @media (max-width: 480px) {
    font-size: 13px;
    width: 90%;
    right: 5%;
    top: 10px;
  }
}

.box .rectangle-4 {
  height: 43px;
  position: absolute;
  right: 2px;
  top: 0;
  width: 135px;
}

.box .label-3 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14.6px;
  font-weight: 500;
  letter-spacing: 0.29px;
  line-height: 20px;
  position: absolute;
  right: 44px;
  text-shadow: 0px 1.43px 0px #00000026;
  top: 11px;
  white-space: nowrap;
}

.box .women-KB-copy {
  aspect-ratio: 0.67;
  height: 642px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 576px;
  width: 428px;
}

.box .women-KB-copy {
  @media (max-width: 768px) {
    display: none;
  }
}

.box .basket-ball-man-copy {
  aspect-ratio: 0.67;
  height: 675px;
  right: 0;
  object-fit: cover;
  position: absolute;
  top: 550px;
  width: 450px;
}

.box .design-component-instance-node {
  color: #775da6 !important;
  font-size: 12.8px !important;
  height: 44.66% !important;
  width: 20.51% !important;
}
