.section-four {
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 0;
  overflow-x: hidden;
}

.section-four-wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* BLOCK BASE LAYOUT */
.four-block {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  justify-content: flex-start;
}

/* Reverse layout for second column */
.four-block.reverse {
  flex-direction: row-reverse;
}

/* IMAGES */
.four-img {
  width: 100%;
  max-width: 330px;
  height: auto;
}

/* TEXT CONTENT */
.four-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.four-block.reverse .four-content {
  text-align: right;
  align-items: flex-end;

  @media(max-width : 1200px){
    align-items: center;
  }
}

.four-title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.3;
  margin-bottom: 32px;
  max-width: 360px;
  white-space: nowrap;
}

/* DIVIDER */
.four-divider {
  height: 70%;
  width: auto;
  margin: 0 20px;
}

/* CTA BUTTONS */
.BTNFOUR {
  all: unset;
  height: 43px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 200px;
}

.BTNFOUR .rectangle-2 {
  background-color: #2ac155;
  border-radius: 8.19px;
  box-shadow: inset -3.07px -3.07px 5.12px #0000004c;
  height: 43px;
  position: absolute;
  right: 2px;
  top: 0;
  width: 198px;
}



.BTNFOUR .vector-2 {
  height: 33px;
  position: absolute;
  left: 4px;
  top: 3px;
  width: 10px;
}

.BTNFOUR .line {
      height: 4px;
    position: absolute;
    left: -40px;
    top: 4px;
    width: 100%;
}

.BTNFOUR .label {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.29px;
  line-height: 20px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  text-shadow: 0px 1.43px 0px #00000026;
  top: 11px;
  white-space: nowrap;
}

/* -------------------------- */
/* RESPONSIVE STYLES          */
/* -------------------------- */

/* Let titles wrap a bit earlier so content doesn't push images out on medium screens */
@media (max-width: 1200px) {
  .four-title {
    white-space: normal;
  }
}

@media (max-width: 1200px) {
  .section-four-wrapper {
    flex-direction: column;
  }

  .four-block,
  .four-block.reverse {
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .four-content {
    text-align: center;
    align-items: center;
  }

  .four-img {
    max-width: 280px;
  }

  .four-divider {
    display: none;
  }

  .four-title {
    font-size: 30px;
    text-align: center;
    white-space: normal;
  }
}

@media (max-width: 600px) {
  .section-four {
    padding: 60px 0;
  }

  .four-img {
    max-width: 240px;
  }

  .four-title {
    font-size: 26px;
  }

  .BTNFOUR {
    width: 190px;
  }

  .BTNFOUR .rectangle-2 {
    width: 188px;
  }
}
