.category-section {
  background-color: #eaecf2;
  width: 100%;
  padding: 7rem 0 !important;
}

/* Title */
.category-title {
  font-family: "Hahmlet", serif;
  font-size: 40px;
  font-weight: 600;
  color: #252525;
  text-align: start;
}

/* Subtitle */
.category-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgba(37, 37, 37, 50%);
  max-width: 100%;
  margin: auto;
  text-align: start;
}

/* Circular icons */
.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-img {
  width: 250px;
  height: 250px;
  object-fit: contain; /* Keeps your PNG transparency intact */
  background: transparent;
  display: block;
  margin: 0 auto;
}

/* Labels */
.category-label {
  font-family: "Hahmlet", serif;
  font-size: 23px;
  font-weight: 600;
  color: #252525;
}

/* Arrows */
.arrow-btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  background: #fff;
  color: #6e5fb0;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.left-arrow {
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
}

.right-arrow {
  position: absolute;
  right: 1%;
  top: 48%;
  transform: translateY(-50%);
}
.wrap-div {
  width: 90%;
}
.arrow-btn {
  z-index: 999 !important;
  position: absolute;
}
.swiper-button-lock {
  display: block !important;
}

/* ---------------------- */
/* RESPONSIVE STYLES      */
/* ---------------------- */

@media (max-width: 992px) {
  .category-title {
    font-size: 32px;
    text-align: center;
  }

  .category-subtitle {
    font-size: 16px;
    text-align: center;
    max-width: 80%;
  }

  .wrap-div {
    width: 100%;
  }

  .category-img {
    width: 200px;
    height: 200px;
  }

  .left-arrow {
    left: 4%;
  }

  .right-arrow {
    right: 4%;
  }
}

@media (max-width: 768px) {
  .category-section {
    padding: 4rem 0 !important;
  }

  .category-title {
    font-size: 28px;
  }

  .category-subtitle {
    font-size: 15px;
    max-width: 90%;
  }

  .category-img {
    width: auto;
    height: auto;
  }

  .arrow-btn {
   width: 44px;
        height: 44px;
        top: 41%;
        transform: translateY(-50%);
  }
}

@media (max-width: 576px) {
  .category-title {
    font-size: 24px;
  }

  .category-subtitle {
    font-size: 14px;
    max-width: 95%;
  }

  .category-img {
    width: auto;
    height: auto;
  }
}
