 .BTNmain{
  all: unset;
  height: 43px;
  position: relative;
  display: block;
  width: 100% !important;
  /* rectangle background is dynamic */
 .rectangle-2 {
  background-color: var(--btn-bg, #775da6);
  border-radius: 8.19px;
  box-shadow: inset -3.07px -3.07px 5.12px #0000004c;
  height: 43px;
  position: absolute;
  top: 0;
  width: fit-content;
  padding: 1rem 0;
  width: 100%;
}

 .vector-2 {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

 .line {
  height: 4px;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
}

 .label {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 12.5px;
  font-weight: 500;
  letter-spacing: 0.29px;
  line-height: 18px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  text-shadow: 0px 1.43px 0px #00000026;
  top: 11px;
  white-space: nowrap;
}

}
