.whatsapp-float{
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 999;
    a{
        width: 100%;
        height: 100%;
    }
    svg{
 @media(max-width : 600px){
        width: 50px;
        height: auto;
    }
    }
   
}