.whatsapp-float{
    position: fixed;
    bottom: 15%;
    right: 2%;
    z-index: 999;
    a{
        width: 100%;
        height: 100%;
    }
    svg{
 @media(max-width : 600px){
        width: 50px;
        height: auto;
    }
    }
   
}

.projected-toast {
    background-color: #775da6 !important;
    border-radius: 8.19px !important;

    /* 3D PROJECTION for the toast box */
    box-shadow: 
        inset -3px -3px 5px rgba(255, 255, 255, 0.3),   /* inner highlight */
        inset 3px 3px 5px rgba(0, 0, 0, 0.4),            /* inner shadow */
        -3px -3px 6px rgba(255, 255, 255, 0.3),          /* outer highlight */
        3px 3px 6px rgba(0, 0, 0, 0.3) !important;       /* outer shadow */

    color: white !important;
    padding: 1rem !important;

    /* TEXT OUTWARD EFFECT */
    text-shadow: 
        -1px -1px 0 rgba(255, 255, 255, 0.5),
        2px 2px 3px rgba(0, 0, 0, 0.6);
    
    font-weight: 600;
}

.projected-toast-text {
    color: #ffffff !important;
    font-family: "Poppins", Helvetica !important;
    font-size: 14.6px !important;
    font-weight: 500 !important;
    letter-spacing: 0.29px !important;
    line-height: 20px !important;

    /* Center text horizontally inside the toast */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    /* Text projection */
    text-shadow: 0px 1.43px 0px #00000026 !important;

    white-space: nowrap !important;
}
